In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('C:\\Users\\Lumia520\\Desktop\\Datasets\\heart.csv')
data.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [4]:
data.shape

(918, 12)

In [5]:
data.isnull().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [6]:
data.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

## Outlier removal

In [9]:
data = data[(data.Age >= data.Age.mean()- 3*data.Age.std()) & (data.Age <= data.Age.mean()+ 3*data.Age.std())]

data.shape

(918, 12)

In [10]:
data = data[(data.RestingBP >= data.RestingBP.mean()- 3*data.RestingBP.std()) & (data.RestingBP <= data.RestingBP.mean()+ 3*data.RestingBP.std())]

data.shape

(910, 12)

In [11]:
data = data[(data.Cholesterol >= data.Cholesterol.mean()- 3*data.Cholesterol.std()) & (data.Cholesterol <= data.Cholesterol.mean()+ 3*data.Cholesterol.std())]

data.shape

(907, 12)

In [14]:
data = data[(data.MaxHR >= data.MaxHR.mean()- 3*data.MaxHR.std()) & (data.MaxHR <= data.MaxHR.mean()+ 3*data.MaxHR.std())]

data.shape

(906, 12)

In [17]:
data = data[(data.Oldpeak >= data.Oldpeak.mean()- 3*data.Oldpeak.std()) & (data.Oldpeak <= data.Oldpeak.mean()+ 3*data.Oldpeak.std())]

data.shape

(899, 12)

In [23]:
data.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [21]:
dummies = pd.get_dummies(data)
dummies.head()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease,Sex_F,Sex_M,ChestPainType_ASY,...,ChestPainType_NAP,ChestPainType_TA,RestingECG_LVH,RestingECG_Normal,RestingECG_ST,ExerciseAngina_N,ExerciseAngina_Y,ST_Slope_Down,ST_Slope_Flat,ST_Slope_Up
0,40,140,289,0,172,0.0,0,False,True,False,...,False,False,False,True,False,True,False,False,False,True
1,49,160,180,0,156,1.0,1,True,False,False,...,True,False,False,True,False,True,False,False,True,False
2,37,130,283,0,98,0.0,0,False,True,False,...,False,False,False,False,True,True,False,False,False,True
3,48,138,214,0,108,1.5,1,True,False,True,...,False,False,False,True,False,False,True,False,True,False
4,54,150,195,0,122,0.0,0,False,True,False,...,True,False,False,True,False,True,False,False,False,True

In [24]:
X = data.drop('HeartDisease', axis = 'columns')
y = data.HeartDisease

In [32]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X[['Age','RestingBP','Cholesterol','FastingBS','MaxHR','Oldpeak']])
X_scaled

array([[-1.42815446,  0.46590022,  0.84963584, -0.5503622 ,  1.38431998,
        -0.85546862],
       [-0.47585532,  1.63471366, -0.16812204, -0.5503622 ,  0.7529728 ,
         0.13751561],
       [-1.7455875 , -0.1185065 ,  0.79361247, -0.5503622 , -1.53566071,
        -0.85546862],
       ...,
       [ 0.3706328 , -0.1185065 , -0.62564622, -0.5503622 , -0.86485434,
         0.33611246],
       [ 0.3706328 , -0.1185065 ,  0.35476274, -0.5503622 ,  1.46323838,
        -0.85546862],
       [-1.63977649,  0.34901888, -0.21480818, -0.5503622 ,  1.42377918,
        -0.85546862]])

In [33]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_scaled, y)

In [35]:
from sklearn.svm import SVC

svm = SVC()
svm.fit(X_train,y_train)
svm.score(X_test, y_test)

0.8088888888888889

now create a bagging classifier

In [36]:
from sklearn.ensemble import BaggingClassifier

bag_model = BaggingClassifier(
    base_estimator= svm,
    n_estimators=100,
    max_samples=0.8,
    oob_score=True,
    random_state=0
)

bag_model.fit(X_train, y_train)
bag_model.oob_score_

c:\Users\Lumia520\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(

0.771513353115727

In [37]:
from sklearn.tree import DecisionTreeClassifier

dt = DecisionTreeClassifier()
dt.fit(X_train, y_train)
dt.score(X_test, y_test)

0.6888888888888889

In [39]:
bag_model2 = BaggingClassifier(
    base_estimator= dt,
    n_estimators=100,
    max_samples=0.8,
    oob_score=True,
    random_state=0
)

bag_model2.fit(X_train, y_train)
bag_model2.oob_score_

c:\Users\Lumia520\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(

0.7462908011869436

we can see an improvement in performance for Decision tree when we use bagging but not for SVM